<h1>Editing Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %> |
<%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
