* {
  font-size: 16px;
}

li {
  margin: 4px 0;
}

#groups-table {
  max-width: 500px;
}

.test-link {
  color: black;
}

.test-date {
  font-size: 14px;
}

#test-book-form {
  max-width: 300px;
}

.show-page-title {
  margin-bottom: 20px;
}

#group-test-list {
  padding-top: 10px;
  padding-left: 20px;
}

.boldest {
  font-weight: 900;
}

/*.datepicker {*/
  /*max-width: 100px;*/
/*}*/
